
<% include ../partials/header %>
<div>
    <h1 style="text-align: center;">Edit Your Post</h1>
</div>
    <div class="form" style="width: 50%;display: block;margin-left: auto;
        margin-right: auto;">
            <form action="/posts/<%= posts._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    </br></br></br></br>
                    <label for="title">Title</label>
                    <input class="form-control" type="text" name="title" value="<%= posts.title %>"
                        autocomplete="off" required />
                    </div>

                    <!-- <div class="form-group">
                            <label for="postType">Post Category</label>
                            <select name="postType" >
                                    <optgroup label="Please Select A Post Category:">
                                        <option value="" selected disabled hidden>Choose here</option>
                                        <option id="postType" >#RestaurantReview</option>
                                        <option id="postType" >#Recipe</option>
                                        <option id="postType" >#HangOut</option>
                                    </optgroup>
                                </select>
                            <input class="form-control" type="text" name="postType" value="<%= posts.postType %>"
                                autocomplete="off" /> 
                        </div>    -->

                        <div class="form-group">
                                <label for="image">Image</label>
                                <input class="form-control" type="text" name="image" value="<%= posts.image %>" autocomplete="off" />
                            </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <input style="height:200px;" class="form-control" type="text" name="description" value="<%= posts.description %>" autocomplete="off"
                        required />
                </div>

                <div class="form-group">
                        <label for="tags">Tag</label>
                        <input class="form-control" type="text" name="tags" value="<%= posts.tags %>" autocomplete="off" />
                    </div>

                    <% if (posts.location!=="") {%>
                    <div class="form-group">
                        <label for="tags">Restaurant Location</label>
                        <input class="form-control" type="text" name="location" value="<%= posts.location %>" autocomplete="off" />
                    </div>
                    <% } %>

                <div class="form-group">
                    <button class="btn btn-md btn-primary btn-block">Update Post</button>
                </div>
            </form>
            <hr />
            <a href="/posts/<%= posts._id %>">Back</a>
        </div>
    <% include ../partials/footer %>