<% include ../partials/header %>
<link href="//s.xiaohongshu.com/formula-static/@xhs/launcher@1.5.1/dist/Launcher.css" rel="stylesheet">
<style>
  .card-note .bottom-gap[data-v-f71fb898] {
    margin: 0 0 20px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.author-item .card-info .inner span[data-v-0d757e92] {
    display: block;
    line-height: 20px;
}
.author-item .card-info .inner .collect[data-v-0d757e92], .author-item .card-info .inner .fans[data-v-0d757e92], .author-item .card-info .inner .note[data-v-0d757e92] {
    color: #4f4f4f;
    font-weight: 500;
}
.pull-right {
    margin-right: 15px;
}
.author-item .title[data-v-0d757e92] {
    font-weight: 500;
    font-size: 16px;
    padding: 10px 0 10px 20px;
    margin: 0;
    border-bottom: 1px solid #eee;
}
.author-item .card-info .inner[data-v-0d757e92] {
    float: left;
    color: #999;
    width: 86px;
    font-size: 14px;
    margin: 0 3px;
}
* {
    box-sizing: border-box;
}
.left[data-v-534aa174] {
    position: relative;
    float: left;
}
.author-item[data-v-0d757e92] {
    width: 320px;
    height: 176px;
    border: 1px solid #eee;
    border-radius: 4px;
    color: #000;
    font-size: 14px;
    background: #fff;
}
.author-info[data-v-534aa174] {
    margin: 9px 11px 0;
    padding: 0 0 10px;
    overflow: hidden;
    font-size: 12px;
    cursor: pointer;
    color: #333;
    display: block;
}
.right[data-v-534aa174] {
    float: left;
    margin: 2px 0 0 15px;
}
.name[data-v-534aa174] {
    margin: 3px 0 0;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
}
.name .name-detail[data-v-534aa174] {
    height: 16px;
    line-height: 16px;
}
* {
    box-sizing: border-box;
}
div {
    display: block;
}
body {
    font-size: 14px;
    font-family: -apple-system,SF UI Text,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #333;
    background-color: #fbfbfb;
}
.left-img img[data-v-534aa174] {
    border-radius: 50%;
}
.left-img .border-img[data-v-534aa174] {
    border: 1px solid rgba(0,0,0,.15);
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.author-item .card-info[data-v-0d757e92] {
    overflow: hidden;
    margin: 8px 20px;
}
.author-item .author-info[data-v-0d757e92] {
    margin: 10px 20px 0;
    padding: 0 0 10px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
.left-card[data-v-f71fb898] {
    float: left;
    margin-top: 20px;
    width: 200px;
}
.right-card[data-v-f71fb898] {
    float: right;
    width: 1000px;
    margin-top: 20px;
}
.card-note[data-v-f71fb898] {
    width: 1350px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 50px auto 50px;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 150px;
    margin-left: auto;
    padding-bottom: 36px;
}
</style>

<html>
  <div data-v-f71fb898 data-v-70f39e76 class="card-note">
  <div data-v-f71fb898="" class = "left-card">
    <div data-v-0d757e92="" data-v-f71fb898="" class="author-item bottom-gap">
      <h3 data-v-0d757e92="" class="title">Post's Author</h3> <span data-v-534aa174="" data-v-0d757e92="" class="author-info">
        <div data-v-534aa174="" class="left">
          <div data-v-534aa174="" class="left-img"><img data-v-534aa174=""
              src= "<%= post.author.image %>"
              style="width: 50px; height: 50px;"> </div> 
        </div>
        <div data-v-534aa174="" class="right" style="width: 190px;">
          <h6 data-v-534aa174="" class="name" style="font-size: 16px;"><span data-v-534aa174=""
              class="name-detail"><a href="/users/<%= post.author.id %>"><%= post.author.username %></a></span> <i data-v-534aa174="" class="level-detail"
              style="background-image: url(&quot;https://s4.xiaohongshu.com/static/throne/property/f11_v2.png&quot;);"></i>
          </h6>
          <p data-v-534aa174="" class="brief" style="font-size: 14px;color: #999;">Member of binary 4.0</p>
        </div>
        <!---->
      </span>
      <div data-v-0d757e92="" class="card-info">
        <div data-v-0d757e92="" class="inner"><span data-v-0d757e92="">Posts</span> <span data-v-0d757e92=""
            class="note">1</span></div>
        <div data-v-0d757e92="" class="inner"><span data-v-0d757e92="">Likes</span> <span data-v-0d757e92=""
            class="fans">2</span></div>
        <div data-v-0d757e92="" class="inner"><span data-v-0d757e92="">Contact</span> <span data-v-0d757e92=""
            class="fans">+</span></div>
      </div>
      <br>
        <div class="list-group">
          <!-- <li class="list-group-item">Would you recommend (0-10): <%= post.rating %></li> -->
          <li class="list-group-item">Post Category: <%= post.postType %></li>
          <li class="list-group-item">Tags: <%= post.tags %></li>
          <li class="list-group-item">Restaurant Location: <%= post.location %></li>
          
        </div>
        <br>
        <% if (currUser && post.author.id.equals(currUser._id)) {%>
        <button class="btn profile-edit-btn btn-success"><a href="/posts/edit/<%= post.id%>">Edit Post</a></button>
        <br>
        <form class="delete-form" action="/posts/<%= post.id %>?_method=DELETE" method="POST">
          <button class="btn btn-danger btn-sm">Delete</button>
        </form>
        <% } %>
        <div>
            <br>
          Location:    <%= post.location%>
          <%= post.lat%>
          <%= post.lng%>
          <button class="btn btn-link"><a href="https://www.google.com/maps/search/<%= post.location%>">View Map</a></button>
            <br>
        </div>
    </div>
  </div>



<div data-v-f71fb898="" class="right-card">
  <div class="col-md-9">
    <div class="thumbnail">
      <div class="caption">
        <div class="fakeimg center">
          <img src="<%= post.image %>" class="gallery-image" alt=""
          style="margin-left: auto; display: block;
          margin-right: auto;
          width: 100%;">
          </div>
          <div><p></p></div>
        <h2><%= post.title %></h2>
        <hr>
        <div class="pull-right">
          <span>Total likes: <i class="fas fa-heart" style="color: red"></i> <%= post.likes.length %></span>
        </div>
        <hr>
        <p><b>Description:</b></p>
        <p><%= post.description %> </p>
        <hr>
        <p>
          <em>Submitted By: <a href="/users/<%= post.author.id %>"><%= post.author.username %></a></em>
        </p>
        <p>
          <em><%= post.createdAt %></em>
        </p>
      </div>
    </div>



    <div style="padding-bottom: 10px;" class="text-right">
      <form action="/posts/<%= post._id %>/like" method="POST">
        <div class="btn-group">
          <% if (post.likes.some(function (like) {
              return like.equals(currUser._id)
          })) { %>
          <button class="btn btn-sm btn-primary">
            <i class="fas fa-heart" style = "color: white"></i> Liked 
          </button>
          <% } else { %>
          <button class="btn btn-sm btn-secondary">
            <i class="fas fa-heart"></i> Like 
          </button>
          <% } %>

        </div>
      </form>
    </div>
  

    <div class="well"><!--comments section-->
      <div class="text-right">
        <a class="btn btn-success" href="/posts/<%= post._id %>/comments/new">Add New Comment</a>
      </div>
      <hr>
      <!-- Comments list -->
      
      <% for(var i = 0; i < post.comments.length; i++){ %>
          <%  var com = post.comments[i]; %>
          <div class="row">
            <div class="row">
              <div class="col-md-9">
                <h5><strong><%= com.rating_value %></strong>  <span style="color:black;">&#9733;</span>  <strong><%=com.title%></strong></h5>
              </div>
              <div class="col-md-3">
                <div class="pull-right"><strong><span class="glyphicon glyphicon-user"></span> <%=com.author.username%></strong></div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-10">
                <pre><%= com.text %> </pre>
            </div>
            <div class="col-md-2">
              <span class="pull-right"><%= com.createTime.toISOString().substring(0, 10) %></span>
            </div>
          </div>

          <!-- voting info -->
          <div class="voting-buttons row" style="margin:0 auto;">
            <!--upvotes info-->
            <div class="col-md-5 col-sm-5 col-xs-5" style="padding:0; text-align:right;">
              <!--number of upvotes-->
              <span class="number-of-upvotes"></span>
              <!--list of people who upvoted(pops up on click)-->
              <span class="list-of-upvotes">
                <ul style="list-style:none; margin:5px; padding:0; ">
                  <%for(var kk=0;kk<com.upvotes.length;kk++){%>
                    <li><%=com.upvotes[kk].username%></li>
                  <% }%>
                </ul>
              </span>
            </div> -->
            <!--upvote and downvote buttons-->
            <div class="col-md-2  col-sm-2 col-xs-2 text-center" style="padding:0 10px; ">
                <form action="/posts/<%= post._id %>/comments/<%=com._id%>/upvote" method="POST">
                    <button class="fas fa-thumbs-up" style="font-size:24px"></button>
                </form> 
                <form action="/posts/<%= post._id %>/comments/<%=com._id%>/downvote" method="POST">
                    <button class="fas fa-thumbs-down" style="font-size:24px"></button>
                </form>
            </div>
            <!--downvotes info-->
            <div class="col-md-5 col-sm-5 col-xs-5" style="padding:0; text-align:left;">
              <!--number of downvotes-->
              <span class="number-of-downvotes"></span>
              <!--list of people who downvoted(pops up on click)-->
              <span class="list-of-downvotes">
                <ul style="list-style:none; margin:5px; padding:0; ">
                  <%for(var kk=0;kk<com.downvotes.length;kk++){%>
                    <li><%=com.downvotes[kk].username%></li>
                  <% }%>
                </ul>
              </span>
            </div>                           
          </div><!--end voting info-->
          <!-- edit and delete comment buttons: --> 
          <%if(currUser && (com.author.id.equals(currUser._id)|| currUser.username === "ADMIN")){%>
          <div class="row" style="margin-right:0;">
            <div class="pull-right">
                <form id="deleteform" action = "/posts/<%=post._id%>/comments/<%=com._id%>?_method=DELETE" method="POST">
                <button class = "btn btn-xs btn-danger"  >Delete</button>
                </form> 
            </div>
            <div class="pull-right">
                <a class = "btn btn-xs btn-warning" href="/posts/<%=post._id%>/comments/<%= com._id%>/edit" >Edit</a>
            </div>
          </div>
          <% } %>
        </div>
          <hr class="style10">
      <% } %><!--end of single comment-->
    </div>


  </div>
</html>
